---
mode: transcription
projects:
- name: Transcription
  tasks:
  - name: Transcription
    workflow:
      name: Orderly
    kit_type:
      name: Transcription
      node_class: SimpleTranscription:Root
      constraints:
        web_audio: web_audio
        show_source: show_source
        free_choice: free_choice
class_defs:
  - name: SimpleTranscription
    css: ''
    node_classes:
    - name: SimpleTranscription:Root
      parent: Root
      children: SegmentList SectionList Audit
    - name: SimpleTranscription:Audit
      parent: Leaf
    - name: SimpleTranscription:SegmentList
      parent: List
      children: SegmentListItem
      constraints:
        reverse: false
        add_from_waveform_list: true
    - name: SimpleTranscription:SegmentListItem
      parent: Node
      children: Segment Transcription Speaker
    - name: SimpleTranscription:Segment
      parent: Audio
      constraints:
        add_from_waveform_audio: true
    - name: SimpleTranscription:Transcription
      parent: Leaf
      constraints:
        add_from_waveform_text: true
    - name: SimpleTranscription:Speaker
      parent: Leaf
      value:
        values:
        - spkra
        - spkrb
        labels:
        - Speaker A
        - Speaker B
    - name: SimpleTranscription:SectionList
      parent: List
      children: SectionListItem
    - name: SimpleTranscription:SectionListItem
      parent: Node
      children: Section BegSeg EndSeg
    - name: SimpleTranscription:Section
      parent: Leaf
    - name: SimpleTranscription:BegSeg
      parent: Leaf
    - name: SimpleTranscription:EndSeg
      parent: Leaf
