%h1
  UA

%p
  Hi
  =@user.name

%p
  Welcome! In order to use this app, you will need to active your account. Please click on the link below to activate your account:

= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) 
