%h1
  Webtrans

%p
  Hi
  =@user.name

%p
  You've been invited to Webtrans! Click on the link below to accept your invitation and create your account:

= link_to "Accept Invitation", @invite_frontend_url
