<div class="page4 initially_hidden">
  <p>
    You’re almost done! Please double-check that your enrollment details are correct.
    Do not press your browser's back button.
  </p> 
  <div id="entered_data"></div>
  <button class="change_info">Make changes</button>
</div>
