.controls_pane
  %button.btn-primary#logout LOG OUT
  #logout_dialog
    You are about to log out. Is this kit completed or does it still require more work?
  %button.btn-success#switch SWITCH TASKS
  #switch_dialog
    You are about to return to your profile. Is this kit completed or does it still require more work?
  %button.btn-danger#broken BROKEN
  #broken_dialog
    Please comment before submitting.
    %textarea#broken_comment
  %button.btn-danger#reset RESET
  #reset_dialog
    You are about to reset this kit, all previous work will be lost. Do you want to proceed?
  %button.btn-success#validate VALIDATE
  %button.btn-success#summary SUMMARY
  %button.btn-info#close CLOSE
  %button.btn-info#next NEXT
  %button.btn-danger#trouble TROUBLE
