.settings_pane {
  .title {
    display: inline-block;
    font-size: 20px;
  }
  label {
    min-height: 17px;
    // padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
  }
  .checkbox {
    // padding-left: 2em;
    margin: 10px;
  }
  .descriptionx {
    font-size: 14px;
  }

}
