.settings_pane
  .menu
    %ul
      %li
        one
  .panels
    .one
      .two
        .three
          .four
            .control-group
              .control
                .checkbox
                  %label
                    %input{ id: 'checkk', type: 'checkbox' }
                    .title
                      Title
                  .description
                    Description
                  
