.service_help_screen{ tabindex: 0, style:  'display: flex' }
  .left{ style: 'width: 33%; margin: 20px' }
    .item
      When this menu is open, pressing a number key will call 
      the described service.
    %br
    .item
      %p
        1: Speech Activity Detection.  Automatically inserts boundaries found by SAD.
  .middle{ style: 'width: 33%; margin: 20px' }
  .right{ style: 'width: 33%; margin: 20px' }
