.waveform_help_screen{ tabindex: 0, style:  'display: flex' }
  .left{ style: 'width: 33%; margin: 20px' }
    .top
    .bottom{ style: 'margin-top: 20px' }
  .middle{ style: 'width: 33%; margin: 20px' }
    
    When the waveform is focused, the following keybindings work.  The waveform is focused
    when the app opens or when the waveform is clicked.  Technically, the focus resides
    on the small keyboard icon, which can be clicked directly.  Clicking the waveform
    
    .bottom{ style: 'margin-top: 20px' }

  .right{ style: 'width: 33%; margin: 20px' }
    
    .bottom{ style: 'margin-top: 20px' }
      Additional play back functions can also be found by pressing 'p', which opens 
      a small menu.  The keybindings presented there only function when the menu is
      open, so this in effect makes "p" + second key a complex keybinding.
    .bottom{ style: 'margin-top: 20px' }
      Bindings for when the text input is focused:
      
      
      
